# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Step5/Debug/Synthie.exe
Step5/Debug/Synthie.ilk
Step5/Debug/Synthie.pdb
Step5/ipch/synthie-4f173864/synthie-793f25f0.ipch
Step5/Synthie.opensdf
Step5/Synthie.sdf
Step5/Synthie.suo
Step5/Synthie/Debug/AR.obj
Step5/Synthie/Debug/AudioNode.obj
Step5/Synthie/Debug/cl.command.1.tlog
Step5/Synthie/Debug/CL.read.1.tlog
Step5/Synthie/Debug/CL.write.1.tlog
Step5/Synthie/Debug/DirSound.obj
Step5/Synthie/Debug/DirSoundSource.obj
Step5/Synthie/Debug/DirSoundStream.obj
Step5/Synthie/Debug/Instrument.obj
Step5/Synthie/Debug/link-cvtres.read.1.tlog
Step5/Synthie/Debug/link-cvtres.write.1.tlog
Step5/Synthie/Debug/link.8404-cvtres.read.1.tlog
Step5/Synthie/Debug/link.8404-cvtres.write.1.tlog
Step5/Synthie/Debug/link.8404.read.1.tlog
Step5/Synthie/Debug/link.8404.write.1.tlog
Step5/Synthie/Debug/link.command.1.tlog
Step5/Synthie/Debug/link.read.1.tlog
Step5/Synthie/Debug/link.write.1.tlog
Step5/Synthie/Debug/MainFrm.obj
Step5/Synthie/Debug/mt.command.1.tlog
Step5/Synthie/Debug/mt.read.1.tlog
Step5/Synthie/Debug/mt.write.1.tlog
Step5/Synthie/Debug/Note.obj
Step5/Synthie/Debug/Notes.obj
Step5/Synthie/Debug/Progress.obj
Step5/Synthie/Debug/ProgressDlg.obj
Step5/Synthie/Debug/rc.command.1.tlog
Step5/Synthie/Debug/rc.read.1.tlog
Step5/Synthie/Debug/rc.write.1.tlog
Step5/Synthie/Debug/RecordedInstrument.obj
Step5/Synthie/Debug/SineWave.obj
Step5/Synthie/Debug/stdafx.obj
Step5/Synthie/Debug/Synthesizer.obj
Step5/Synthie/Debug/Synthie.exe.embed.manifest
Step5/Synthie/Debug/Synthie.exe.embed.manifest.res
Step5/Synthie/Debug/Synthie.exe.intermediate.manifest
Step5/Synthie/Debug/Synthie.lastbuildstate
Step5/Synthie/Debug/Synthie.log
Step5/Synthie/Debug/Synthie.obj
Step5/Synthie/Debug/Synthie.pch
Step5/Synthie/Debug/Synthie.res
Step5/Synthie/Debug/Synthie.vcxprojResolveAssemblyReference.cache
Step5/Synthie/Debug/Synthie.write.1.tlog
Step5/Synthie/Debug/Synthie_manifest.rc
Step5/Synthie/Debug/SynthieView.obj
Step5/Synthie/Debug/ToneInstrument.obj
Step5/Synthie/Debug/vc100.idb
Step5/Synthie/Debug/vc100.pdb
Step5/Synthie/Debug/Wave.obj
Step5/Synthie/Debug/WaveformBuffer.obj
Step5/Synthie/Debug/WaveformWnd.obj
Step5/Synthie/Synthie.vcxproj
Step5/Synthie/Synthie.vcxproj.filters
Step5/Synthie/Synthie.vcxproj
Step5/Synthie/Synthie.vcxproj.filters
Step5/Synthie/Debug/link.8992-cvtres.read.1.tlog
Step5/Synthie/Debug/link.8992-cvtres.write.1.tlog
Step5/Synthie/Debug/link.8992.read.1.tlog
Step5/Synthie/Debug/link.8992.write.1.tlog
Step5/Synthie.suo
Step5/Synthie/Debug/link.8484-cvtres.read.1.tlog
Step5/Synthie/Debug/link.8484-cvtres.write.1.tlog
Step5/Synthie/Debug/link.8484.read.1.tlog
Step5/Synthie/Debug/link.8484.write.1.tlog
Step5/Synthie/Debug/link.9228-cvtres.read.1.tlog
Step5/Synthie/Debug/link.9228-cvtres.write.1.tlog
Step5/Synthie/Debug/link.9228.read.1.tlog
Step5/Synthie/Debug/link.9228.write.1.tlog
Step5/Synthie/Debug/NoiseGate.obj
Step5/Synthie/Debug/RingModulation.obj
Step5/Synthie/Synthie.vcxproj
Step5/Synthie/Synthie.vcxproj.filters
Step5/Synthie/Debug/Favorites - Shortcut.lnk
Step5/Synthie/Debug/link.3988-cvtres.read.1.tlog
Step5/Synthie/Debug/link.3988-cvtres.write.1.tlog
Step5/Synthie/Debug/link.3988.read.1.tlog
Step5/Synthie/Debug/link.3988.write.1.tlog
